<div ng-if="loading" class="loading-cover">
  <i class="spinner ion-loading-b"></i>
</div>
<div class="row">
  <h2>Twitter Tool</h2>
</div>
<div class="row">
  <textarea class="form-control" rows="10" ng-model="query" placeholder=""></textarea>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="hashtag(query)">Search by Tweets</button>
      <button class="btn btn-success" ng-click="search(query)">Search Users</button>
      <button class="btn btn-danger" ng-click="clear()">Clear</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4 overflow-control" ng-show="tweets">
      <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="tweet in tweets">
          <div style="display:tabel-cell;">
            <h4 class="list-group-item-heading">@{{tweet.user.name}}</h4>
            <p class="list-group-item-text">{{tweet.text}}</p>
          </div>
        </a>
      </div>
    </div>
    <div ng-repeat="list in lists">
      <div class="col-sm-4 overflow-control">
        <div class="list-group">
          <a ng-click="follow(user)" class="list-group-item" ng-repeat="user in list">
            <img ng-src="{{user.profile_image_url}}" class="img-squar imgli">
            <div class="has-thumbnail">
              <h4 class="list-group-item-heading">@{{user.screen_name}}</h4>
              <p class="list-group-item-text">{{user.description}}</p>
              <p>
                Followers: {{user.followers_count}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
