<div ng-if="loading" class="loading-cover">
  <i class="spinner ion-loading-b"></i>
</div>
<div class="row">
  <h2>Twitter Tool</h2>
  <ol>
    <li>If you search multiple people at once, seperate with line breaks</li>
    <li>To Search for a exact phrase wrap it in quotation marks</li>
    <li>You <b><i>can</i></b> search #'s</li>
  </ol>
</div>
<div class="row">
  <textarea class="form-control" rows="10" ng-model="query"></textarea>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="tweet(query)">Search by Tweets</button>
      <button class="btn btn-info" ng-click="search(query)">Search Users</button>
      <button class="btn btn-danger" ng-click="clear()">Clear</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div ng-repeat="tweetList in tweetLists">
      <div class="overflow-control">
        <div class="list-group">
          <a href="#" class="list-group-item" ng-repeat="tweet in tweetList">
            <div style="display:tabel-cell;">
              <h4 class="list-group-item-heading">@{{tweet.user.name}}</h4>
              <p class="list-group-item-text">{{tweet.text}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div ng-repeat="nameList in nameLists">
      <div class="overflow-control">
        <div class="list-group">
          <a target="_blank" href="http://twitter.com/{{user.screen_name}}" class="list-group-item" ng-repeat="user in nameList">
            <img ng-src="{{user.profile_image_url}}" class="img-squar imgli">
            <div class="has-thumbnail">
              <h4 class="list-group-item-heading">@{{user.screen_name}}</h4>
              <p class="list-group-item-text">{{user.description}}</p>
              <p>
                Followers: {{user.followers_count}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
