<div class="row">
  <input class="form-control" ng-model="query">
  <br />
  <button class="btn btn-primary" ng-click="search(query)">User Search</button>
  <button class="btn btn-success" ng-click="hashtag(query)">Search Tweets</button>
  <button class="btn btn-danger" ng-click="clear()">Clear</button>
  <div class="row">
    <div class="col-sm-6">
      <div class="list-group">
        <br />
        <a href="#" class="list-group-item" ng-repeat="user in users">
          <img ng-src="{{user.profile_image_url}}" class="img-square">
          <div style="display:inline-block;">
            <h4 class="list-group-item-heading">@{{user.screen_name}}</h4>
            <p class="list-group-item-text">{{user.description}}</p>
            <p>Followers: {{user.followers_count}}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="list-group">
        <br />
        <a href="#" class="list-group-item" ng-repeat="tweet in tweets">
          <img ng-src="{{user.profile_image_url}}" class="img-square">
          <div style="display:inline-block;">
            <h4 class="list-group-item-heading">@{{tweet.user.name}}</h4>
            <p class="list-group-item-text">{{tweet.text}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
