/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn-group>.btn+.dropdown-toggle {
  height: 33px;
}

.loading-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 9998;
  cursor: wait;
}

.spinner {
  position: absolute;
  margin-top: 15%;
  left: 48%;
  color: white;
  margin: 15% auto 0;
  font-size: 48px;
  display: block;
  text-align: center;
  z-index: 9999;
}

.imgli {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
}

.has-thumbnail {
  padding-left: 90px;
  min-height: 80px;
  display: inline-block;
}

.overflow-control {
  max-height: 500px;
  margin: 5px 1.6%;
  width: 30%;
  float: left;
  display: inline-block;
  overflow: scroll;
  border: 1px solid lightgrey;
  padding: 0 !important;
  border-radius: 4px;
}
